<div class="page-wrapper">
    <h1>Crack my password!</h1>
    <div class="decrypt-area" ng-if="!decryptions.length && !isLoading">
        <div class="message-info">Enter the encrypted password below:</div>
        <textarea class="encryptedMessage" ng-model="query.encryptedText"></textarea>
        <div class="key-area">
            <span class="key-size-div">Enter key size:</span>
            <select class="key-size-combo" ng-model="query.selectedKeySize" ng-options="size for size in optionalKeySize"></select>
        </div>
        <div class="button-wrapper">
            <button ng-click="decryptPassword()">Crack!</button>
        </div>
    </div>

    <div class="loader" ng-if="isLoading"></div>
    <div ng-if="total && isLoading && completed !== total">{{(completed / total) * 100}}% completed</div>

    <div class="display-decryptions" ng-if="decryptions.length && !isLoading">
        <div ng-repeat="option in decryptions" class="decrypt-option">
            <div>Score: {{option.score}}</div>
            <div>Key: {{option.key}}</div>
            <div>Text: {{option.decryptedData}}</div>

        </div>
    </div>
    <div class="display-decryptions" ng-if="decryptions && !decryptions.length && !isLoading">
        No Results :(
    </div>
</div>